[buildout]
develop = .
parts = test checker coverage-test coverage-report
find-links = http://pypi.python.org/simple/z3c.language.negotiator
             http://pypi.python.org/simple/z3c.language.session

[test]
recipe = zc.recipe.testrunner
eggs = z3c.language.switch [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/language/switch

[coverage-test]
recipe = zc.recipe.testrunner
eggs = ${test:eggs}
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
