[buildout]
develop = .
          externals/z3c.language.negotiator
          externals/z3c.language.session
parts = test checker coverage

[test]
recipe = zc.recipe.testrunner
eggs = z3c.language.switch [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/language/switch

[coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage
